<div id="calendar"></div>
<script type="text/javascript">

</script>


  <script>
    ReactDOM.render(
      React.createElement(ProviderCalendar, {}), document.getElementById("calendar")
    );
  </script>
